<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <link  rel="stylesheet"  th:href="@{/styles/css/bootstrap.min.css}">
   <link rel="stylesheet" href="/static/css/main.css">
<!-- <link rel="stylesheet" href="D:/Users/TaskTest/webDevelop/src/main/resources/static/css"/>-->
</head>
<body>
<div class="container pt-3" >
    <div class="row gx-5">

        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <a class="btn btn-primary" type="button" title="На главную" href="/hello"><img src="/images/home.png" width="22" height="22">

                </a>
            </div>

            <div class="p-2 bd-highlight">
                <a  class="btn btn-primary" role="button" href="/tasklist">
                       Задачи
                      </a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="btn btn-primary" role="button" href="/appeal">
                       Обращения
                    <span class="badge badge-light">3</span>
                    </a>
            </div>

            <div class="ms-auto p-2 bd-highlight">
                  <a class="btn btn-primary" role="button" href="/admin">
                       Администрирование
                  </a>
            </div>
        </div>
    </div>
</div>
<div class="container pt-3">
    <div class="text-center">
        <img class="img-fluid" src="/images/pingvin.jpeg" width="100%" alt="Астра, РедОС, wine, Мед Комплит и прочие костыли">
    </div>
</div>
  <!-- <script src="D:/Users/TaskTest/webDevelop/src/main/resources/static/js"></script> -->
 <script defer src="/js/bootstrap.bundle.js"></script>
</body>
</html>