<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel=stylesheet th:href="@{/styles/css/bootstrap.min.css}">
</head>
<body>
<div class="container pt-3">
    <div class="row gx-5">

        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <a class="btn btn-primary" role="button" title="На главную" href="/hello"><img
                        src="/images/home.png" width="22" height="22">

                </a>
            </div>

            <div class="p-2 bd-highlight">
                <a class="btn btn-primary" role="button" href="/tasklist">
                    Задачи
                </a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="btn btn-primary" role="button" href="/reqestlist">
                    Обращения
                    <span class="badge badge-light">3</span>
                </a>
            </div>

            <div class="ms-auto p-2 bd-highlight">
                <a class="btn btn-primary" role="button" href="/admin">
                    Администрирование
                </a>
            </div>
        </div>
    </div>


</div>
<div class="container pt-3">
    <div class="row py-5">
        <table class="table table-hover">
            <thead class="table-info">
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Имя</th>
                <th scope="col">Певец</th>
                <th scope="col">Автор</th>
            </tr>
            </thead>
            <tr th:each="user : ${userclass}">
                <td th:utext="${user.id}">Номер</td>
                <td th:utext="${user.name}">Имя</td>
                <td th:utext="${user.song}">Певец</td>
                <td th:utext="${user.author}">Автор</td>
            </tr>

        </table>
    </div>
</div>
</div>

</div>


<script src="D:/Users/TaskTest/webDevelop/src/main/resources/static/js"></script>
<!-- тут что-то новое
<img th:scr="@{/images/adv2pers.png}"/>
<img src ="/images/adv2pers.png"/>
<h1 style="color: red">Здесь что то</h1>> -->
<script defer src="/js/bootstrap.bundle.js"></script>
</body>
</html>